.chat {
  display: flex;
  background-color: $darkBlue;
  color: $white;
  min-height: 100vh;
  &__box {
    padding: 1rem;
    padding-left: 75px;
    font-weight: 100;
    overflow: hidden;
  }
  &__start-button {
    color: $white;
    border: 1px solid $white;
    padding: 1rem;
  }
}
