.chat {
  display: flex;
  background-image: url("../../images/chatBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  min-height: 100vh;
  &__box,
  &__connected-box {
    padding: 1rem;
    padding-left: 85px;
    font-weight: 100;
    overflow: hidden;
    width: 100%;
  }
  &__start-button {
    color: $white;
    border: 1px solid $white;
    padding: 1rem 4rem;
    background-color: $blue;
    font-size: 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $darkBlue;
    }
  }
  &__find-user-box {
    padding-right: 75px;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__find-user-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $yellow;
  }
  &__loading-icon {
    width: 100px;
    z-index: 1;
  }
  &__connected-box {
    padding: 0;
    font-weight: 100;
    overflow: hidden;
    z-index: 3;
  }
  &__connected-user-info {
    position: fixed;
    width: calc(100% - 95px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    border-radius: 8px;
  }
  &__image-and-name-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__user-image {
    width: 40px;
    border-radius: 8px;
    margin-left: 6px;
  }
  &__user-name {
    color: $yellow;
    font-size: 1.5rem;
    padding: 1rem;
  }
  &__user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    color: $white;
    font-size: 4rem;
    transition: transform 0.3s;
    &:hover {
      color: $yellow;
      transform: scale(1.1);
    }
  }
  &__connected-buttons-box {
    position: fixed;
    top: 7.5rem;
    width: calc(100% - 95px);
    display: none;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: red;
    border-radius: 8px;
    background-color: $black;
    z-index: 3;
  }

  &__connected-button {
    &:hover .chat__connected-button-icon {
      color: $yellow;
    }
  }

  &__connected-button-icon {
    font-size: 2.5rem;
    padding: 0.25rem;
    transition: color 0.3s;
    color: $blue;
  }

  &__connected-buttons-box-active {
    display: flex;
  }

  &__input-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    background-color: $black;
    width: 100%;
    box-shadow: 0px 5px 20px 20px $black;
  }

  &__input {
    margin: 10px 0 10px 85px;
    padding: 1rem;
    width: calc(100% - 95px);
    border-radius: 8px;
    border: none;
    color: $black;
    background-color: $white;
    &:focus {
      outline-style: solid;
      outline-width: 1px;
      outline-color: $blue;
    }
  }

  &__send-button,
  &__more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    &:hover .chat__send-icon {
      color: $yellow;
      transform: scale(1.2);
    }
  }

  &__send-icon {
    color: $white;
    padding: 0.25rem;
    font-size: 2.5rem;
    transition: transform 0.3s, color 0.3s;
  }

  &__more-button {
    color: $white;
    &:hover .chat__more-icon {
      transform: scale(1.2);
      color: $yellow;
    }
  }

  &__more-icon {
    font-size: 2.5rem;
    transition: transform 0.3s;
  }

  &__successfully-connected {
    margin-top: 6rem;
    padding: 0.5rem;
  }

  &__yellow-text {
    color: $yellow;
  }

  &__connected-left-message,
  &__connected-right-message {
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 1rem;
    max-width: 90%;
  }

  &__messages-box {
    display: flex;
    flex-direction: column;
  }

  &__connected-left-message {
    background-color: $white;
    color: $darkBlue;
  }

  &__connected-right-message {
    background-color: $blue;
    color: $white;
    word-break: break-all;
    margin-left: auto;
  }

  &__messages-fix {
    margin-top: 7rem;
  }

  &__connected-more-box {
    display: none;
    position: fixed;
    bottom: 7.5rem;
    width: calc(100% - 95px);
    align-items: center;
    list-style: none;
    border-radius: 8px;
    background-color: $black;
    z-index: 3;
  }

  &__connected-more-box-active {
    display: block;
  }

  &__connected-more-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }

  &__connected-leave-button,
  &__connected-emoji-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    &:hover {
      color: $red;
    }
  }

  &__connected-leave-icon {
    color: $red;
    margin: 0.5rem;
  }

  &__connected-emoji-button {
    font-size: 1.75rem;
    &:hover {
      color: $yellow;
    }
  }
}
