.profile {
  min-height: 100vh;
  background-color: $black;
  overflow: hidden;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 0% 100% 16% 84% / 30% 0% 100% 70%;
  }
  &__box {
    position: relative;
    padding: 1rem;
    padding-left: 85px;
    font-weight: 100;
    overflow: hidden;
    width: 100%;
    z-index: 1;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__username {
    color: $white;
    text-align: center;
    font-size: 1.75rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: 300;
  }

  &__category-buttons-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__category-button {
    color: rgb(180, 180, 180);
    padding: 1rem 2rem;
    transition: color 0.3s;
    &:hover {
      color: $white;
    }
    &--active {
      color: $blue;
    }
  }

  &__info-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $white;
    width: 115px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1rem;
    box-shadow: 0px 0px 3px 3px rgba(238, 239, 242, 0.3);
    transition: scale 0.3s, background-color 0.3s, color 0.3s;
    cursor: pointer;
    &:hover {
      scale: 1.1;
      background-color: $blue;
      color: $white;
    }
    &--messages {
      &::before {
        content: "";
        position: absolute;
        right: -5%;
        top: -5%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(218, 47, 47);
        border: 1px solid $black;
      }
    }
  }

  &__visual-purposes {
    position: relative;
    color: $yellow;
    z-index: 1;
    padding: 1rem 1rem 1rem 85px;
    text-align: center;
  }

  &__info-icon {
    margin-right: auto;
    margin-left: 1rem;
    font-size: 2rem;
  }

  &__tile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    font-size: 1.25rem;

    &--messages {
      font-size: 1.1rem;
    }
  }

  &__tile-name {
    white-space: nowrap;
    font-weight: 700;
  }

  &__tag {
    border-radius: 4px;
    border: 1px solid $black;
    font-size: 2rem;
    margin: 0.1rem;
    padding: 0.2rem;
    color: $white;
    &:nth-child(1) {
      background: linear-gradient(
        135deg,
        rgba(255, 142, 0, 1) 0%,
        rgba(255, 4, 91, 1) 100%
      );
      box-shadow: 0px 0px 3px 3px rgba(255, 4, 91, 0.3);
    }
    &:nth-child(2) {
      background: linear-gradient(
        135deg,
        rgba(0, 255, 189, 1) 0%,
        rgba(83, 4, 255, 1) 100%
      );
      box-shadow: 0px 0px 3px 3px rgba(83, 4, 255, 0.3);
    }
    &:nth-child(3) {
      background: linear-gradient(
        135deg,
        rgba(120, 0, 255, 1) 0%,
        rgba(45, 4, 255, 1) 100%
      );
      box-shadow: 0px 0px 3px 3px rgba(45, 4, 255, 0.3);
    }
  }

  &__messages-box {
    margin: 2rem auto;
    background-color: $white;
    width: 245px;
    border-radius: 8px;
  }

  &__messages-item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: scale 0.3s, color 0.3s, background-color 0.3s;
    &:hover {
      scale: 1.05;
      background-color: $blue;
      color: $white;
    }
  }

  &__messages-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
  }

  &__messages-message {
    margin: 0 auto;
    font-size: 1.25rem;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__messages-time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
  }

  &__messages-read-icon {
    margin-left: 0.25rem;
  }

  &__description-h3,
  &__photos-h3 {
    color: $white;
    padding: 1rem;
  }

  &__description-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    min-height: 60px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: $white;
    resize: none;

    &:focus {
      color: $blue;
      outline-style: none;
    }
  }

  &__photos-h3 {
    margin-top: 2rem;
  }

  &__photos-box {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    overflow-x: auto;
  }

  &__photo {
    border-radius: 8px;
    margin: 1rem;
    width: 85px;
    height: 85px;
    transition: scale 0.3s;
    cursor: pointer;
    &:hover {
      scale: 1.1;
      box-shadow: 0px 0px 3px 3px $blue;
    }
  }

  &__add-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    // Idk for some reason this is the only way to set 85px width
    min-width: 85px;
    max-width: 85px;
    height: 85px;
    background-color: rgba(116, 116, 116, 0.5);
    font-size: 3rem;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
